<a href="https://colab.research.google.com/github/122333D/project/blob/master/predictbotnetsolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
import numpy as np
import pandas as pd
link = 'https://drive.google.com/open?id=1dALKVHlYUypASt1M9Qx7Z_Ah2K_OjeMF'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('testt8.csv')  
df3 = pd.read_csv('testt8.csv')
df4=df3

1dALKVHlYUypASt1M9Qx7Z_Ah2K_OjeMF

In [0]:
df4.head()

                  Time       dur  proto  Sport  ...  totP totB  label       PPS
0  2011-08-10 09:51:00  1.009595      0   1577  ...     4  276      0  3.961985
1  2011-08-10 09:51:00  3.097288      0   4866  ...     3  182      0  0.968589
2  2011-08-10 09:57:00  1.048908      0  47908  ...     4  244      0  3.813490
3  2011-08-10 09:57:00  4.373526      0   1419  ...     4  252      0  0.914594
4  2011-08-10 09:54:00  4.827912      0   1491  ...     4  252      0  0.828516

[5 rows x 13 columns]

In [0]:
iplist = [
    "147.32.84.180",
    "147.32.84.170",
    "147.32.84.150",
    "147.32.84.140",
    "147.32.84.130",
    "147.32.84.160",
    "10.0.2.15",
    "192.168.106.141",
    "192.168.106.131",
    "172.16.253.130",
    "172.16.253.131",
    "172.16.253.129",
    "172.16.253.240",
    "74.78.117.238",
    "158.65.110.24",
    "192.168.3.35",
    "192.168.3.25",
    "192.168.3.65",
    "172.29.0.116",
    "172.29.0.109",
    "172.16.253.132",
    "192.168.248.165",
    "10.37.130.4",
    "131.202.243.84", 
    "198.164.30.2", "192.168.5.122", 
    "192.168.5.122", 
    "192.168.5.122", "192.168.5.122", "192.168.5.122", 
    "192.168.2.110", 
    "192.168.4.120", "192.168.1.103",
    "192.168.2.113", "192.168.4.118" , "192.168.2.109", "192.168.2.105", "192.168.5.122"]

MasterBot = [ ("192.168.2.112", "131.202.243.84"), ("192.168.5.122", "198.164.30.2"), ("192.168.2.110", "192.168.5.122"),( "192.168.4.118", "192.168.5.122"), ("192.168.2.113", "192.168.5.122"), ("192.168.1.103", "192.168.5.122"), ("192.168.4.120", "192.168.5.122"), ("192.168.2.112", "192.168.2.110"), ("192.168.2.112", "192.168.4.120"), ("192.168.2.112", "192.168.1.103"), ("192.168.2.112", "192.168.2.113"), ("192.168.2.112", "192.168.4.118"), ("192.168.2.112", "192.168.2.109"), ("192.168.2.112", "192.168.2.105"), ("192.168.1.105", "192.168.5.122")]

iplist = np.asarray(iplist)
print(iplist)
# iplist = iplist.unique() 
iplist = list(iplist)
print(iplist)

def fcheckIP(x):
    if (x['Sip'] in iplist) or (x['Dip'] in iplist):
        return 1
    else:
        if ((x['Sip'],x['Dip'])  in MasterBot ) or ((x['Dip'],x['Sip'])  in MasterBot ) :
            return 1
        else:
            return 0
        

df4['isBot'] = df4['Sip']['Dip'].apply(lambda x: fcheckIP(x))

['147.32.84.180' '147.32.84.170' '147.32.84.150' '147.32.84.140'
 '147.32.84.130' '147.32.84.160' '10.0.2.15' '192.168.106.141'
 '192.168.106.131' '172.16.253.130' '172.16.253.131' '172.16.253.129'
 '172.16.253.240' '74.78.117.238' '158.65.110.24' '192.168.3.35'
 '192.168.3.25' '192.168.3.65' '172.29.0.116' '172.29.0.109'
 '172.16.253.132' '192.168.248.165' '10.37.130.4' '131.202.243.84'
 '198.164.30.2' '192.168.5.122' '192.168.5.122' '192.168.5.122'
 '192.168.5.122' '192.168.5.122' '192.168.2.110' '192.168.4.120'
 '192.168.1.103' '192.168.2.113' '192.168.4.118' '192.168.2.109'
 '192.168.2.105' '192.168.5.122']
['147.32.84.180', '147.32.84.170', '147.32.84.150', '147.32.84.140', '147.32.84.130', '147.32.84.160', '10.0.2.15', '192.168.106.141', '192.168.106.131', '172.16.253.130', '172.16.253.131', '172.16.253.129', '172.16.253.240', '74.78.117.238', '158.65.110.24', '192.168.3.35', '192.168.3.25', '192.168.3.65', '172.29.0.116', '172.29.0.109', '172.16.253.132', '192.168.248.165', '10.37.130.4', '131.202.243.84', '198.164.30.2', '192.168.5.122', '192.168.5.122', '192.168.5.122', '192.168.5.122', '192.168.5.122', '192.168.2.110', '192.168.4.120', '192.168.1.103', '192.168.2.113', '192.168.4.118', '192.168.2.109', '192.168.2.105', '192.168.5.122']

KeyError: ignored

In [0]:
X = np.asarray(df4[['dur','proto','Sport','Dport','Sip_int','Dip_int','totP','totB','PPS']])
y = np.asarray(df4['label'])
Sampled_no = len(y[y==0])
Sampled_yes = len(y[y==1])
print([Sampled_no],[Sampled_yes])

[5390918] [62143]

In [0]:
df4[df4['label']==1]

                        Time          dur  proto  ...    totB  label          PPS
665117   2011-08-10 11:04:00     0.000278      1  ...     203      1  7194.244604
665441   2011-08-10 11:04:00     0.020525      1  ...     590      1    97.442144
665446   2011-08-10 11:04:00     0.045125      0  ...     882      1   155.124654
679202   2011-08-10 11:06:00     0.336250      1  ...     215      1     5.947955
679236   2011-08-10 11:06:00  3514.083496      0  ...    7767      1     0.034148
680911   2011-08-10 11:06:00     0.459301      1  ...     212      1     4.354443
680990   2011-08-10 11:06:00     0.216252      0  ...   27990      1   171.096683
681124   2011-08-10 11:06:00     1.371909      1  ...     295      1     2.186734
681284   2011-08-10 11:06:00     2.568064      0  ...   60278      1    28.036684
681431   2011-08-10 11:06:00     0.313117      1  ...     202      1     6.387389
681462   2011-08-10 11:06:00    13.535808      0  ...   41849      1     5.171468
681741   2011-08-10 11:06:00     0.547071      1  ...     223      1     3.655833
681795   2011-08-10 11:06:00     0.758234      0  ...    2589      1    11.869687
681932   2011-08-10 11:06:00     0.559377      1  ...     218      1     3.575406
681980   2011-08-10 11:06:00     7.599358      0  ...  137436      1    19.738509
682872   2011-08-10 11:06:00     0.000355      1  ...     223      1  5633.802817
682873   2011-08-10 11:06:00     0.980806      0  ...    1320      1    11.215266
683024   2011-08-10 11:06:00     0.131772      1  ...     283      1    15.177731
683050   2011-08-10 11:06:00     1.029718      0  ...    1328      1    10.682536
683052   2011-08-10 11:06:00   297.349731      0  ...    1569      1     0.036993
683167   2011-08-10 11:06:00     0.422243      1  ...     182      1     4.736609
683197   2011-08-10 11:06:00     2.807242      0  ...   37425      1    17.098633
683219   2011-08-10 11:06:00     0.829001      0  ...   10327      1    22.919152
683332   2011-08-10 11:06:00     0.000417      1  ...     202      1  4796.163070
683333   2011-08-10 11:06:00     7.151825      0  ...   32509      1     6.012451
683570   2011-08-10 11:06:00     0.000345      1  ...     223      1  5797.101449
683571   2011-08-10 11:06:00     0.990888      0  ...    1324      1    11.101154
683634   2011-08-10 11:06:00     0.251006      0  ...   48359      1   243.022079
683690   2011-08-10 11:06:00     0.973053      0  ...    1328      1    11.304626
683704   2011-08-10 11:06:00     1.354025      0  ...     366      1     4.431233
...                      ...          ...    ...  ...     ...    ...          ...
5351540  2011-08-15 07:24:00  3588.126709      0  ...    6843      1     0.025361
5353714  2011-08-15 07:29:00     9.013377      0  ...     186      1     0.332839
5356105  2011-08-15 07:34:00     9.013421      0  ...     186      1     0.332837
5358582  2011-08-15 07:39:00     9.014125      0  ...     186      1     0.332811
5361018  2011-08-15 07:44:00     9.016667      0  ...     186      1     0.332717
5363448  2011-08-15 07:49:00     9.012246      0  ...     186      1     0.332880
5365865  2011-08-15 07:54:00     9.515644      0  ...     186      1     0.315270
5368272  2011-08-15 07:59:00     9.013899      0  ...     186      1     0.332819
5370649  2011-08-15 08:04:00     8.907591      0  ...     186      1     0.336791
5373365  2011-08-15 08:09:00     8.969635      0  ...     186      1     0.334462
5375970  2011-08-15 08:14:00     9.012180      0  ...     186      1     0.332883
5378685  2011-08-15 08:19:00     9.013126      0  ...     186      1     0.332848
5381326  2011-08-15 08:24:00     8.916504      0  ...     186      1     0.336455
5382815  2011-08-15 08:24:00  3588.109131      0  ...    7065      1     0.025919
5384123  2011-08-15 08:29:00     1.928351      0  ...     366      1     3.111467
5386963  2011-08-15 08:34:00     9.013908      0  ...     186      1     0.332819
5389723  2011-08-15 08:39:00     9.385378      0  ...     186      1     0.319646
5392530  2011-08-15 08:44:00     9.013007      0  ...     186      1     0.332852
5395579  2011-08-15 08:49:00     8.912778      0  ...     186      1     0.336595
5398461  2011-08-15 08:54:00     9.013456      0  ...     186      1     0.332836
5401440  2011-08-15 08:59:00     9.038319      0  ...     186      1     0.331920
5404407  2011-08-15 09:04:00     9.010331      0  ...     186      1     0.332951
5407722  2011-08-15 09:09:00     9.012186      0  ...     186      1     0.332883
5411140  2011-08-15 09:14:00     9.012798      0  ...     186      1     0.332860
5414489  2011-08-15 09:19:00     8.909909      0  ...     186      1     0.336704
5417765  2011-08-15 09:24:00     9.010506      0  ...     186      1     0.332945
5420998  2011-08-15 09:29:00     9.013652      0  ...     186      1     0.332828
5424557  2011-08-15 09:34:00     0.000000      1  ...     104      1     1.000000
5433311  2011-08-15 09:44:00     0.000000      1  ...     104      1     1.000000
5442316  2011-08-15 09:59:00     0.000000      1  ...     104      1     1.000000

[62143 rows x 13 columns]

In [0]:
from imblearn.over_sampling import SMOTE
sm=SMOTE(ratio='auto', kind='regular')
X_sampled,y_sampled=sm.fit_sample(X,y)

In [0]:
Sampled_no = len(y_sampled[y_sampled==0])
Sampled_yes = len(y_sampled[y_sampled==1])
print([Sampled_no],[Sampled_yes])

[5390918] [5390918]

In [0]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_sampled,y_sampled,test_size=0.3,random_state=0)

In [0]:
from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import *
from sklearn.neighbors import *

lr = LogisticRegression(C=1, solver='lbfgs')
dtree = DecisionTreeClassifier(criterion="entropy", max_depth=4)
bay = GaussianNB()
rfc = RandomForestClassifier(n_estimators=40)


def scorer(i,j,k,l):
    for every in (i,j,k,l):
        every.fit(X_train,y_train)
        print (every.__class__.__name__, 'F1 score =', f1_score(y_test,every.predict(X_test)))
scorer (lr,dtree,bay,rfc)

LogisticRegression F1 score = 0.5170248146259508
DecisionTreeClassifier F1 score = 0.9967712248202691
GaussianNB F1 score = 0.802703557509121
RandomForestClassifier F1 score = 0.9999458914446334

In [0]:
from sklearn.externals import joblib 
  
# Save the model as a pickle in a file 
joblib.dump(lr, 'lr.pkl') 
joblib.dump(dtree, 'dtree.pkl') 
joblib.dump(rfc, 'rfc.pkl')
joblib.dump(bay, 'bay.pkl')

['bay.pkl']

In [0]:
from sklearn.metrics import classification_report
rfc_from_joblib = joblib.load('rfc.pkl')  
  
# Use the loaded model to make predictions 
yhat = rfc_from_joblib.predict(X_test) 

print(classification_report(y_test,yhat))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   1617502
           1       1.00      1.00      1.00   1617049

    accuracy                           1.00   3234551
   macro avg       1.00      1.00      1.00   3234551
weighted avg       1.00      1.00      1.00   3234551

In [0]:
import numpy as np
import pandas as pd

link = 'https://drive.google.com/open?id=1oU_WP9MZO6O7smaBRzUDicIg8j8zKppb'
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('testtt9.csv')  
df4 = pd.read_csv('testtt9.csv')
df5=df4
df5.head()

1oU_WP9MZO6O7smaBRzUDicIg8j8zKppb

                  Time       dur  proto  Sport  ...  totP totB  label       PPS
0  2011-08-19 10:37:00  3.003373      0   4207  ...     3  182      0  0.998877
1  2011-08-19 10:44:00  0.967492      0   1056  ...     4  244      0  4.134401
2  2011-08-19 10:44:00  0.000000      0     80  ...     1   60      0  1.000000
3  2011-08-19 10:44:00  1.391385      0   3259  ...     4  244      0  2.874833
4  2011-08-19 10:48:00  0.999620      0   1095  ...     4  244      0  4.001521

[5 rows x 13 columns]

In [0]:
from sklearn.metrics import classification_report
from sklearn.externals import joblib 
import numpy as np

X = np.asarray(df4[['dur','proto','Sport','Dport','Sip_int','Dip_int','totP','totB','PPS']])

rfc_from_joblib = joblib.load('dtree.pkl')  
  
# Use the loaded model to make predictions 
df5["Y"] = rfc_from_joblib.predict(X) 
#[float(dur), protoDict[proto], int(Sport), int(Dport), Sip, Dip, int(totP), int(totB), stateDict[state]
df5.head()

                  Time       dur  proto  Sport  ...  totB label       PPS  Y
0  2011-08-19 10:37:00  3.003373      0   4207  ...   182     0  0.998877  0
1  2011-08-19 10:44:00  0.967492      0   1056  ...   244     0  4.134401  0
2  2011-08-19 10:44:00  0.000000      0     80  ...    60     0  1.000000  0
3  2011-08-19 10:44:00  1.391385      0   3259  ...   244     0  2.874833  0
4  2011-08-19 10:48:00  0.999620      0   1095  ...   244     0  4.001521  0

[5 rows x 14 columns]

In [0]:
sa = df5[df5['label']==1]
sa.head(1000)

                      Time          dur  proto  ...  label          PPS  Y
53791  2011-08-19 10:42:00     0.000222      1  ...      1  9009.009009  1
53963  2011-08-19 10:42:00     0.010105      1  ...      1   197.921821  1
53964  2011-08-19 10:42:00     0.086917      0  ...      1    80.536604  1
53965  2011-08-19 10:42:00     0.000417      1  ...      1  4796.163070  1
53966  2011-08-19 10:42:00    40.477837      0  ...      1     0.247049  1
54226  2011-08-19 10:42:00     0.020070      1  ...      1    99.651221  1
54227  2011-08-19 10:42:00     0.277387      0  ...      1  2988.604369  1
54255  2011-08-19 10:42:00     0.135571      1  ...      1    14.752418  1
54266  2011-08-19 10:42:00     2.874323      1  ...      1     0.695816  1
56914  2011-08-19 10:43:00     0.312724      1  ...      1     6.395416  1
56915  2011-08-19 10:43:00     1.549107      1  ...      1     1.936600  1
56927  2011-08-19 10:43:00    22.828791      0  ...      1     0.438043  1
56961  2011-08-19 10:43:00     0.100748      0  ...      1    89.331798  1
56970  2011-08-19 10:43:00     0.703530      1  ...      1     2.842807  1
56999  2011-08-19 10:43:00    21.591457      0  ...      1     0.787348  1
57008  2011-08-19 10:43:00     0.758811      1  ...      1     2.635702  1
57011  2011-08-19 10:43:00    31.554317      0  ...      1     1.140890  1
57073  2011-08-19 10:43:00    89.582321      0  ...      1     0.122792  1
57092  2011-08-19 10:43:00     0.312563      1  ...      1     6.398710  1
57116  2011-08-19 10:43:00     1.481989      1  ...      1     2.024307  1
57126  2011-08-19 10:43:00    42.291721      0  ...      1   198.005657  1
57249  2011-08-19 10:43:00     0.933340      0  ...      1    10.714209  1
57275  2011-08-19 10:43:00     0.410896      1  ...      1     4.867412  1
57302  2011-08-19 10:43:00     0.529509      1  ...      1     3.777084  1
57308  2011-08-19 10:43:00     1.163406      0  ...      1     8.595452  1
57309  2011-08-19 10:43:00     0.312146      1  ...      1     6.407258  1
57384  2011-08-19 10:43:00    86.479111      0  ...      1     0.104071  1
57417  2011-08-19 10:43:00     1.297085      0  ...      1    12.335352  1
57462  2011-08-19 10:43:00     0.000320      1  ...      1  6250.000000  1
57463  2011-08-19 10:43:00    27.245125      0  ...      1     2.532563  1
...                    ...          ...    ...  ...    ...          ... ..
85468  2011-08-19 10:49:00     0.000000      1  ...      1     1.000000  0
85469  2011-08-19 10:49:00     0.000000      1  ...      1     1.000000  0
85470  2011-08-19 10:49:00     0.000000      1  ...      1     1.000000  0
85472  2011-08-19 10:49:00     0.000000      1  ...      1     1.000000  0
85473  2011-08-19 10:49:00     0.000000      1  ...      1     1.000000  0
85474  2011-08-19 10:49:00     0.000000      1  ...      1     1.000000  0
85475  2011-08-19 10:49:00    32.505810      1  ...      1     0.061527  0
85511  2011-08-19 10:49:00     5.906832      1  ...      1     0.338591  0
85547  2011-08-19 10:49:00     5.504606      1  ...      1     0.363332  0
85548  2011-08-19 10:49:00  2156.399414      1  ...      1     0.001855  0
85568  2011-08-19 10:49:00    23.059519      1  ...      1     0.173464  0
85584  2011-08-19 10:49:00     0.158789      1  ...      1    12.595331  0
85599  2011-08-19 10:49:00     5.905944      1  ...      1     0.338642  0
85600  2011-08-19 10:49:00     0.047388      1  ...      1    42.204778  0
85619  2011-08-19 10:49:00     5.705213      1  ...      1     0.350557  0
85620  2011-08-19 10:49:00    19.463938      1  ...      1     0.205508  0
85649  2011-08-19 10:49:00     5.292105      1  ...      1     0.377921  0
85807  2011-08-19 10:49:00     5.820316      1  ...      1     0.343624  0
85850  2011-08-19 10:49:00     6.357093      1  ...      1     0.629218  0
85851  2011-08-19 10:49:00     6.752988      1  ...      1     0.444248  0
85852  2011-08-19 10:49:00     6.022093      1  ...      1     0.332110  0
85853  2011-08-19 10:49:00     6.022170      1  ...      1     0.332106  0
85854  2011-08-19 10:49:00     6.022195      1  ...      1     0.332105  0
85855  2011-08-19 10:49:00  2353.570557      1  ...      1     0.001700  0
85856  2011-08-19 10:49:00     6.022262      1  ...      1     0.332101  0
85857  2011-08-19 10:49:00  2347.700684      1  ...      1     0.001704  0
85858  2011-08-19 10:49:00  2357.583008      1  ...      1     0.001697  0
85859  2011-08-19 10:49:00     1.398486      1  ...      1     1.430118  0
85860  2011-08-19 10:49:00     0.536323      1  ...      1     3.729096  0
85925  2011-08-19 10:49:00     5.414747      1  ...      1     0.369362  0

[1000 rows x 14 columns]

In [0]:
import socket

addr1 = socket.gethostbyname('youtube.com')
addr2 = socket.gethostbyname('yahoo.com')

print(addr1, addr2)

74.125.197.93 98.138.219.232

In [0]:
saa = df5[df5['Y']==1]
saa.head(100)

                     Time          dur  proto  ...  label           PPS  Y
52    2011-08-19 10:32:00  3598.419189      0  ...      0      0.666960  1
59    2011-08-19 10:32:00  3599.972168      0  ...      0      2.581131  1
91    2011-08-19 10:32:00  2020.809204      0  ...      0      0.383015  1
101   2011-08-19 10:32:00  3579.297852      0  ...      0      0.312072  1
142   2011-08-19 10:32:00   354.759949      0  ...      0      0.067651  1
349   2011-08-19 10:32:00  3597.630615      0  ...      0      0.993432  1
353   2011-08-19 10:32:00    57.872528      0  ...      0      1.347790  1
362   2011-08-19 10:32:00  3529.422607      0  ...      0      0.136850  1
371   2011-08-19 10:32:00     0.000000      0  ...      0      1.000000  1
420   2011-08-19 10:32:00  3598.800293      0  ...      0      1.052851  1
459   2011-08-19 10:32:00   271.356903      0  ...      0      0.036852  1
534   2011-08-19 10:32:00  3574.803711      0  ...      0      0.135392  1
554   2011-08-19 10:32:00   217.330261      0  ...      0      0.069019  1
668   2011-08-19 10:32:00  3552.358887      0  ...      0      0.321758  1
697   2011-08-19 10:32:00     0.024718      1  ...      0     80.912695  1
702   2011-08-19 10:32:00     0.000301      1  ...      0   6644.518272  1
704   2011-08-19 10:32:00     0.019557      1  ...      0    102.265174  1
737   2011-08-19 10:32:00  3073.010254      1  ...      0      0.002603  1
808   2011-08-19 10:32:00  3564.964355      0  ...      0      0.238151  1
843   2011-08-19 10:32:00  1505.165527      1  ...      0      0.188019  1
913   2011-08-19 10:32:00  3573.956543      0  ...      0      0.330446  1
1022  2011-08-19 10:32:00  3528.911133      0  ...      0      0.237467  1
1125  2011-08-19 10:32:00  3540.270508      0  ...      0      0.175410  1
1357  2011-08-19 10:32:00     0.000288      1  ...      0   6944.444444  1
1358  2011-08-19 10:32:00     0.000263      1  ...      0   7604.562738  1
1420  2011-08-19 10:32:00   241.314148      0  ...      0      0.165759  1
1730  2011-08-19 10:32:00  3074.000977      1  ...      0      0.002602  1
1864  2011-08-19 10:32:00     0.000787      0  ...      0   6353.240152  1
1865  2011-08-19 10:32:00     0.000440      0  ...      0  11363.636364  1
1866  2011-08-19 10:32:00     0.000550      0  ...      0   9090.909091  1
...                   ...          ...    ...  ...    ...           ... ..
3179  2011-08-19 10:32:00     3.929051      0  ...      0      4.581259  1
3264  2011-08-19 10:32:00  3575.188965      0  ...      0      0.201388  1
3267  2011-08-19 10:32:00     6.038573      0  ...      0      1.821622  1
3268  2011-08-19 10:32:00     3.047567      0  ...      0      4.593828  1
3306  2011-08-19 10:32:00   118.664276      0  ...      0      0.202251  1
3344  2011-08-19 10:32:00  3569.838867      0  ...      0      0.049302  1
3411  2011-08-19 10:32:00     2.336998      0  ...      0      5.990591  1
3412  2011-08-19 10:32:00     2.516577      0  ...      0      5.563112  1
3414  2011-08-19 10:32:00     2.447028      0  ...      0      5.721226  1
3429  2011-08-19 10:32:00  3559.593018      0  ...      0      0.062086  1
3453  2011-08-19 10:32:00     0.000000      1  ...      0      1.000000  1
3477  2011-08-19 10:32:00    51.039307      0  ...      0      0.431040  1
3493  2011-08-19 10:32:00  1775.103027      0  ...      0      0.021971  1
3510  2011-08-19 10:32:00     2.134946      0  ...      0      4.215563  1
3521  2011-08-19 10:32:00     0.020918      0  ...      0   1099.531504  1
3523  2011-08-19 10:32:00     0.006997      0  ...      0   1286.265542  1
3590  2011-08-19 10:32:00     0.868290      0  ...      0     17.275334  1
3593  2011-08-19 10:32:00    56.436859      0  ...      0      0.442973  1
3605  2011-08-19 10:32:00     0.769486      0  ...      0     20.793101  1
3625  2011-08-19 10:32:00  3509.522461      0  ...      0      0.057273  1
3633  2011-08-19 10:32:00  3594.197266      0  ...      0      0.509710  1
3732  2011-08-19 10:32:00   210.531540      0  ...      0      0.071248  1
3900  2011-08-19 10:32:00  3585.136719      0  ...      0      0.160384  1
3919  2011-08-19 10:32:00  3585.470703      0  ...      0      0.080882  1
4030  2011-08-19 10:32:00  3593.241455      0  ...      0      0.212343  1
4188  2011-08-19 10:32:00  3599.965576      0  ...      0      0.088056  1
4200  2011-08-19 10:32:00  3592.068604      0  ...      0      0.050110  1
4291  2011-08-19 10:32:00  3578.178955      0  ...      0      0.082724  1
4545  2011-08-19 10:32:00  3074.998779      1  ...      0      0.002602  1
4598  2011-08-19 10:32:00  3576.215820      0  ...      0      0.128907  1

[100 rows x 14 columns]

In [0]:
# import matplotlib.pyplot as plt
# from sklearn.covariance import EllipticEnvelope
# import pandas as pd 
# from sklearn import preprocessing
# from sklearn.preprocessing import StandardScaler
# from sklearn.svm import OneClassSVM
# import matplotlib.pyplot as plt
# import numpy as np
# import warnings
# warnings.filterwarnings('ignore')
# df = dtest_rr.groupby('Sip')['Dip'].count().reset_index()
# for sip in df['Sip']:
#     envelope = EllipticEnvelope(contamination = outliers_fraction)
#     X_train = df['Dip'].values.reshape(-1,1)
#     print(X_train)
#     envelope.fit(X_train )


#     df = pd.DataFrame(df)


#     #Compute the decision function of the given observations.
#     df['deviation'] = envelope.decision_function(X_train )
#     #Predict the labels (1 inlier, -1 outlier) of X according to the fitted model.
#     df['anomaly'] = envelope.predict(X_train )
#     a0 = df_temp.loc[df_temp['anomaly'] == 1, 'Dip']
#     b0 = df_temp.loc[df_temp['anomaly'] == -1, 'Dip']
#     ax.plot(a0, b0, color='blue')
#     plt.show()
# dd = df[['Dip']]
# scaler = StandardScaler()
# np_scaled = scaler.fit_transform(dd)
# dd = pd.DataFrame(np_scaled)
# # train oneclassSVM 
# model = OneClassSVM(nu=0.5, kernel="rbf", gamma=0.01)
# model.fit(dd)
# df['anomaly3'] = pd.Series(model.predict(dd))

# fig, ax = plt.subplots(figsize=(10,6))
# a = df.loc[df['anomaly3'] == -1, ['Sip','Dip']] #anomaly

# ax.plot(df['Sip'], df['Dip'], color='blue')
# ax.scatter(a['Sip'],a['Dip'], color='red')
# plt.xticks(df['Sip'], rotation='vertical')

[[2]
 [1]
 [1]
 ...
 [1]
 [1]
 [1]]

ValueError: The covariance matrix of the support data is equal to 0, try to increase support_fraction

In [0]:
dtest_rr.groupby(['Sip','Dip'])['Count'].count().plot(kind ='bar',figsize=(20,10))
plt.show()
    

# dtest_rr.groupby(['Sip',pd.Grouper(key='_time', freq='H'),'Dip'])['file_size'].sum().reset_index()